In [77]:
#sting 


h= "main the loard"
h[5:]

'the loard'

In [78]:
#list
list=[1,2,3,4,5,6,7]
list[1:5]
list.pop()
len(list) 
list[0]= 18
list

[18, 2, 3, 4, 5, 6]

In [79]:
#tuple 

t= (1,2,5,6,1)
type(t)
t.count(1)
t.index(5)

2

In [80]:
#dict & set 

dict={"a":5,'b':5,'d':5.0}

set={15,16,16,16,18,18,61,62,662,626,626}

set
dict.keys()
dict.get("a")
dict.pop("a")
dict.fromkeys("f")
dict.values()
set.add(2)
set

{2, 15, 16, 18, 61, 62, 626, 662}

In [81]:
# while loops and continue 

x=0
while x<=10:
    print(f'present value of x is {x}')
    x+=1
else:
    print('x is greater than 10')

print('printa after while ...' )

present value of x is 0
present value of x is 1
present value of x is 2
present value of x is 3
present value of x is 4
present value of x is 5
present value of x is 6
present value of x is 7
present value of x is 8
present value of x is 9
present value of x is 10
x is greater than 10
printa after while ...

In [82]:
# while loops with breaks and continue
#continue 
x=12
while x<100:
    x+=1
    if x % 13 !=0:
        continue # 
    print(x) #

13
26
39
52
65
78
91

# break 
while True:
    guess=int(input("enter your lucky number "))
    if guess==42:
        print("yes thats the luck number you won!!")
        break
    print("wrong number")

In [83]:
# using break to find out all the prime numbers less than equal to the given input 
a=51
b=25
b=a//2
b

25

In [84]:
a=int(input("enter the num"))
while a>1:
    b= a//2
    while b>1:
        if a%b ==0:
            break
        b-=1
    else: 
        print(f'{a} is a prime number')
    a-=1

43 is a prime number
41 is a prime number
37 is a prime number
31 is a prime number
29 is a prime number
23 is a prime number
19 is a prime number
17 is a prime number
13 is a prime number
11 is a prime number
7 is a prime number
5 is a prime number
3 is a prime number
2 is a prime number

In [85]:
# slicing 


lists=[1,2,3,4,65,9,49]
list= lists[1:5]
print(f'nums {list}')
print(f'lists {lists}')
print(lists[:5])
print(lists[2:])
print(lists[1:5:3])
print(lists[4:1:-2])
print(lists[::])
print(lists[::-1])

nums [2, 3, 4, 65]
lists [1, 2, 3, 4, 65, 9, 49]
[1, 2, 3, 4, 65]
[3, 4, 65, 9, 49]
[2, 65]
[65, 3]
[1, 2, 3, 4, 65, 9, 49]
[49, 9, 65, 4, 3, 2, 1]

In [86]:
lists[0:2]= ['x','y']
lists[0:3]=["x","y",'z']
lists

['x', 'y', 'z', 4, 65, 9, 49]

In [87]:
#ittarating on the list

ip_key= ['10.0.0.01','198.200.40.1','192.162.16,9']

for ip in ip_key:
    print(ip)

print("10.0.0.01" in ip_key)

10.0.0.01
198.200.40.1
192.162.16,9
True

In [88]:
#list comprihension 


clicks= [1,5,15,20]
double_list=[]



#['expresuion' for 'item' in 'iterable']
double_thenumbers=[c*4 for c in clicks]
double_thenumbers

name="deepak"
name_list=[n for n in name]   # expression and item must have the same variable name "n for n in name " of 'c for c in name"
name_list

name_list2=[n.capitalize() for n in name ] # you can add functions to the expression 
name_list2

name_new=["deepak", 'sai', "radha", 'abhi','kishore','ramana']
name_new=[n.capitalize() for n in name_new]

name_new=[n[:3] for n in name_new]
name_new

['Dee', 'Sai', 'Rad', 'Abh', 'Kis', 'Ram']

In [89]:
#name=["deepak", 'sai', "radha", 'abhi','kishore','ramana']
nums= [1,2,3,4,5,6,7,8,21,10]
divisable_with7=[n for n in nums if n % 7==0] # using conditional statements to fiter out 
divisable_with7

nums_str= [str(n) for n in nums]
nums_str
print("-".join(nums_str))

1-2-3-4-5-6-7-8-21-10

In [90]:
# more list comprehension 


friends= [ " deePak " , 'Sai', 'raDha','abhi','gopi']
neigh= ['rAju ', 'gopi', 'sai', 'aChi']
friends_neigh=[f for f in friends if f in neigh]
friends_lower=[f.lower() for f in friends]
neigh_lower=[n.lower() for n in neigh]
friends_neigh2=[f for f in friends_lower if f in neigh_lower]
friends_neigh2

['sai', 'gopi']

In [91]:
# working with dictionories 
dict={'name':'jhondoe','age':30,'adrress': 'hanuman jc'}

dict['name']='deepak'
dict['name']
a= dict['age']
a

#value=dict['agee'] you can use this insted of get function but if the key is not is the list if will give key error 
#where as dict.get() method will give none object

value=dict.get('agee','no key in dict ')# if no key is found it will return the 2nd arugument 

dict.pop()

'no key in dict '

In [98]:
# acessing the dict like pro 
india={
    'cites': ['delhi','hyderabad','mumbai','bangalore'],
    'info': {'population': 1.5, 'people': ['deepak','sai', 'abhi']}
}

a= india['cites'][2]
b=india['info']['people'][1]
b

'sai'

In [99]:
# more dict 
india=[
    {
    'cites': ['delhi','hyderabad','mumbai','bangalore'],
    'info': {'population': 1.5, 'people': ['deepak','sai', 'abhi']}
},
   {
    'cites': ['vijayawada','tirupathi','kolkatta','chennai'],
    'info': {'population': 1.5, 'people': ['deepak','sai', 'abhi']}
}
]

c=india[0]['info']['population']
c

1.5

In [106]:
# working with json
import json

friends     = {'dan': [20,"london",3234342], 'maria':[25,'hyderabad',5254645]}

# dump method to send python obj to json 
with open('friends.json','w') as f:
    json.dump(friends,f, indent=4)# dump makes json in file 

json_string= json.dumps(friends,indent=4)# dumps makes json from code  
json_string

'{\n    "dan": [\n        20,\n        "london",\n        3234342\n    ],\n    "maria": [\n        25,\n        "hyderabad",\n        5254645\n    ]\n}'

In [113]:
# now json to python  
import json
with open('friends.json', 'rt') as f:
    obj=json.load(f)# load method to get json file and load it in python obj


obj # now its type is dict 

json_string= """{
    "dan": [
        20,
        "london",
        3234342
    ],
    "maria": [
        25,
        "hyderabad",
        5254645
    ]
}"""

obj= json.loads(json_string) # load loads from file , loads load from code

obj

{'dan': [20, 'london', 3234342], 'maria': [25, 'hyderabad', 5254645]}

Requirement already satisfied: requests in c:\users\deepa\.virtualenvs\practice-52z8ba_x\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\deepa\.virtualenvs\practice-52z8ba_x\lib\site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\deepa\.virtualenvs\practice-52z8ba_x\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\deepa\.virtualenvs\practice-52z8ba_x\lib\site-packages (from requests) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\deepa\.virtualenvs\practice-52z8ba_x\lib\site-packages (from requests) (2023.5.7)
Note: you may need to restart the kernel to use updated packages.

In [127]:
# api calls 

import json 
import requests 

response= requests.get('https://jsonplaceholder.typicode.com/users/1/todos')

todos=json.loads(response.text) # here you have to use text , not txt 
type(todos)


# getting only the completed todo 


for task in todos:
    if task['completed']==True:# filtering the json 
        print(task)
# you can do that with list compr

d=[t for t in todos if t['completed']==True]
d

{'userId': 1, 'id': 4, 'title': 'et porro tempora', 'completed': True}
{'userId': 1, 'id': 8, 'title': 'quo adipisci enim quam ut ab', 'completed': True}
{'userId': 1, 'id': 10, 'title': 'illo est ratione doloremque quia maiores aut', 'completed': True}
{'userId': 1, 'id': 11, 'title': 'vero rerum temporibus dolor', 'completed': True}
{'userId': 1, 'id': 12, 'title': 'ipsa repellendus fugit nisi', 'completed': True}
{'userId': 1, 'id': 14, 'title': 'repellendus sunt dolores architecto voluptatum', 'completed': True}
{'userId': 1, 'id': 15, 'title': 'ab voluptatum amet voluptas', 'completed': True}
{'userId': 1, 'id': 16, 'title': 'accusamus eos facilis sint et aut voluptatem', 'completed': True}
{'userId': 1, 'id': 17, 'title': 'quo laboriosam deleniti aut qui', 'completed': True}
{'userId': 1, 'id': 19, 'title': 'molestiae ipsa aut voluptatibus pariatur dolor nihil', 'completed': True}
{'userId': 1, 'id': 20, 'title': 'ullam nobis libero sapiente ad optio sint', 'completed': True}

[{'userId': 1, 'id': 4, 'title': 'et porro tempora', 'completed': True},
 {'userId': 1,
  'id': 8,
  'title': 'quo adipisci enim quam ut ab',
  'completed': True},
 {'userId': 1,
  'id': 10,
  'title': 'illo est ratione doloremque quia maiores aut',
  'completed': True},
 {'userId': 1,
  'id': 11,
  'title': 'vero rerum temporibus dolor',
  'completed': True},
 {'userId': 1,
  'id': 12,
  'title': 'ipsa repellendus fugit nisi',
  'completed': True},
 {'userId': 1,
  'id': 14,
  'title': 'repellendus sunt dolores architecto voluptatum',
  'completed': True},
 {'userId': 1,
  'id': 15,
  'title': 'ab voluptatum amet voluptas',
  'completed': True},
 {'userId': 1,
  'id': 16,
  'title': 'accusamus eos facilis sint et aut voluptatem',
  'completed': True},
 {'userId': 1,
  'id': 17,
  'title': 'quo laboriosam deleniti aut qui',
  'completed': True},
 {'userId': 1,
  'id': 19,
  'title': 'molestiae ipsa aut voluptatibus pariatur dolor nihil',
  'completed': True},
 {'userId': 1,
  'id': 20,
  'title': 'ullam nobis libero sapiente ad optio sint',
  'completed': True}]